<!DOCTYPE html>
<html lang="eng">
  <head></head>
  <body>
    <!-- runs on the server, not the client -->
    <% if (locals.error) { %>
    <div style="color: red; margin-bottom: 1rem">Incorrect Password</div>
    <%} %>
    <form
      method="post"
      style="
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        max-width: 500px;
        margin: 0 auto;
      "
    >
      <label for="password">password:</label>
      <input type="password" id="password" name="password" />
      <button style="grid-column: span 2" type="submit">share</button>
    </form>
  </body>
</html>
